.mat-card{
    margin:20px;
}

.card-count{
    width:24%;
    margin:5px;
    padding:20px;
}

.bg-success{
    background-color: rgb(2, 122, 2);
}

.bg-warning{
    background-color: #a70107;
}

.bg-info{
    background-color: rgb(207, 221, 7);
}
.bg-primary{
    background-color: #3f37c9;
    
}